img {
  width: 160px;
  height: 90px;
}
.hero > div:first-child {
  margin-bottom: 1rem;
}
.flex a {
  text-decoration: none;
  color: inherit;
}
.flex a:hover {
  color: var(--LinksHover);
}
.flex {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}
.hero :nth-child(4) p:last-child {
  margin-top: 0rem;
}
.flex p:last-child {
  font-size: 13px;
  margin-top: 1rem;
  color: var(--Numbers);
}
.num_line a {
  text-decoration: none;
}
/* .num_line p {
  width: 500px;
  text-align: left;
} */
h3 {
  font-size: 11;
  text-align: left;
}
nav ul .home {
  /* background-color: rgb(45, 45, 45); */
  pointer-events: visible;
}
.blog,
.blog a {
  /* color: white; */
  cursor: default;
}

.num_line a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 600px) {
  .hero {
    max-width: 380px;
  }
  img {
    height: 10rem;
    width: 80%;
  }
  .flex {
    flex-direction: column;
    margin-top: 1rem;
  }
  .flex p:last-child {
    margin-top: 0;
  }
}
