header {
  display: flex;
  justify-content: space-between;
}
.home a:visited {
  color: #a3a3a3;
}
.dont_build {
  font-style: italic;
  padding-right: 0.5rem;
}

.tab_close {
  outline: none;
  border: none;
  color: inherit;
  margin-left: 1rem;
  background-color: inherit;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
.tab_close:hover {
  background-color: rgb(45, 45, 45);
  border-radius: 0.4rem;
}
.header_left h1 {
  font-size: 1.3rem;
  width: 95%;
  color: rgb(204, 202, 202);
}
.browser_header_left h1,
.browser_header_left p {
  width: 100% !important;
}

.header_left p {
  width: 70%;
}
.header_right p {
  font-size: 0.8rem;
  min-width: max-content;
  line-height: 1.4rem;
}

article {
  margin-bottom: 1.5rem;
}
article img,
#img1 {
  cursor: zoom-in;
  width: 100%;
  margin-block: 1.5rem 1.4rem;
}
.list_items > div {
  display: inline-flex;
}
.list_items > div::before {
  content: "-";
  margin-right: 1rem;
  color: var(--Links);
}
.modal1,
.modal2 {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}
.modal1 img,
.modal2 img {
  width: 75vw;
  cursor: zoom-in;
}
.bullet {
  margin-right: 1rem;
  color: var(--Links);
}
code {
  font-size: 16px;
  color: rgb(206, 145, 120);
}
article h2 {
  font-size: 1.2rem;
  margin-block: 3rem 1.4rem;
  font-weight: 700;
}
figcaption {
  font-size: 14px;
  text-align: center;
  opacity: 0.75;
}
blockquote p {
  display: flex;
  overflow: hidden;
}
blockquote p::before {
  content: "> > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > > >";
  width: 1ch;
  color: var(--Links);
  line-height: 1.5rem;
  height: 1.5rem;
  margin-right: 2ch;
}
.browser_green p {
  position: relative;
}
.browser_green p strong {
  position: absolute;
  bottom: -0.1rem;
  left: 1.7rem;
}
.browser_green p::before {
  color: rgb(114, 137, 104);
}

.code_block {
  margin: 0.5rem -5rem;
  padding: 1.5rem 5rem;
  background-color: var(--NavBg);
  overflow-x: auto;
  scrollbar-width: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.code_block::-webkit-scrollbar {
  display: none;
}
.code_block code {
  color: inherit;
  min-width: fit-content;
  white-space: nowrap;
}
ol {
  counter-reset: count;
  list-style: none;
}
ol li {
  display: flex;
}
ol li::before {
  counter-increment: count;
  content: counter(count) ".";
  color: var(--Links);
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  nav {
    margin-top: 0;
  }
  nav li {
    padding-right: 4vw;
  }
  .main {
    padding-inline: 3rem 1rem;
  }
  .main .num_line {
    left: 0.6rem;
  }
  header {
    flex-direction: column;
  }
  .header_left h1 {
    width: 80%;
  }
  .header_left p {
    width: 100%;
  }
  .header_right > p:nth-child(2) {
    display: none;
  }
  article {
    max-width: 380px;
  }
  .modal1 img,
  .modal2 img {
    width: 90vw;
  }
  .foot {
    gap: 1.5rem;
  }
  .foot,
  .foot_links {
    flex-direction: column;
  }
  .foot_links span {
    display: none;
  }

  .code_block {
    margin: 0.5rem -3rem;
    padding: 1.5rem 3rem;
    width: 100vw;
  }
}
