* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* DARK+ THEME */
  --darkBodyBg: rgb(37, 37, 37);
  --darkBg: rgb(30, 30, 30);
  --darkLinks: rgb(116, 182, 168);
  --darkLinksHover: rgb(48, 82, 107);
  --darkSeparator: rgb(33, 54, 23);
  --darkText: rgb(181, 181, 181);
  --darkHeadings: rgb(181, 181, 181);
  --darkNumbers: rgb(124, 124, 124);

  /* LIGHT+ THEME */
  --lightBodyBg: rgb(243, 243, 243);
  --lightBg: rgb(255, 255, 255);
  --lightLinks: rgb(78, 126, 139);
  --lightLinksHover: rgb(38, 62, 210);
  --lightSeparator: rgb(43, 97, 43);
  --lightText: black;
  --lightHeadings: rgb(0, 0, 0);
  --lightNumbers: rgb(92, 138, 154);

  /* MONOKAI THEME */
  --monokaiBodyBg: rgb(30, 30, 28);
  --monokaiBg: rgb(39, 40, 34);
  --monokaiLinks: rgb(173, 205, 108);
  --monokaiLinksHover: var(--darkLinksHover);
  --monokaiSeparator: rgb(134, 132, 120);
  --monokaiText: rgb(242, 243, 237);
  --monokaiHeadings: rgb(247, 248, 242);
  --monokaiNumbers: rgb(143, 144, 138);

  /* GITHUB DARK */
  --gitDarkBodyBg: rgb(27, 30, 35);
  --gitDarkBg: rgb(36, 41, 45);
  --gitDarkLinks: rgb(176, 201, 221);
  --gitDarkLinksHover: var(--darkLinksHover);
  --gitDarkSeparator: rgb(108, 114, 122);
  --gitDarkText: rgb(225, 228, 233);
  --gitDarkHeadings: rgb(225, 228, 233);
  --gitDarkNumbers: rgb(121, 131, 141);

  /* GITHUB LIGHT */
  --gitLightBodyBg: rgb(247, 248, 250);
  --gitLightBg: rgb(255, 255, 255);
  --gitLightLinks: rgb(63, 88, 117);
  --gitLightLinksHover: var(--lightLinksHover);
  --gitLightSeparator: rgb(109, 114, 119);
  --gitLightText: rgb(64, 65, 68);
  --gitLightHeadings: rgb(37, 41, 45);
  --gitLightNumbers: rgb(187, 187, 187);

  /* SOLARIZED LIGHT */
  --solarizedBodyBg: rgb(239, 232, 213);
  --solarizedBg: rgb(253, 246, 227);
  --solarizedLinks: rgb(70, 131, 169);
  --solarizedLinksHover: var(--lightLinksHover);
  --solarizedSeparator: rgb(109, 114, 119);
  --solarizedText: rgb(61, 57, 45);
  --solarizedHeadings: rgb(77, 75, 68);
  --solarizedNumbers: rgb(112, 141, 140);
}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--darkBodyBg);
  color: var(--darkText);
}
a {
  color: var(--darkLinks);
}
a:hover {
  color: var(--darkLinksHover);
}
.wrapper {
  width: 63%;
  margin: 0 auto;
}
nav {
  margin-top: 4.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1px;
}
nav li {
  background-color: rgb(45, 45, 45);
  padding: 0.6rem 4rem 0.6rem 0.7rem;
  text-align: left;
  cursor: pointer;
  font-size: small;
}
nav li a {
  color: var(--darkText);
}
nav li a:hover {
  color: inherit;
}
nav ul .home {
  background-color: var(--darkBg);
  color: white;
}
.main {
  padding-top: 1.5rem;
  height: 100vh;
  width: 100%;
  background-color: var(--darkBg);
  padding-inline: 5rem;
  position: relative;
}
.main .num_line {
  position: absolute;
  left: 2.5rem;
}
.separator {
  display: flex;
  gap: 1rem;
  position: relative;
}
.separator span {
  gap: 10px;
  color: var(--darkSeparator);
}
.separator hr {
  border: none;
  font-size: large;
  width: 95%;
  border-bottom: 2px dashed var(--darkSeparator);
  position: absolute;
  right: 0;
  top: 50%;
}

/* FOOTER */
.foot {
  display: flex;
  justify-content: space-between;
}
.foot_links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  cursor: pointer;
}
.foot_links li {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.foot_theme select {
  color: var(--darkText);
  font-weight: 600;
  border: none;
  outline: none;
  background-color: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.foot_theme select:hover {
  color: var(--darkLinksHover);
}
.foot_theme option {
  background-color: inherit;
}

/* HOME HOME HOME HOME HOME HOME */

/* BLOG BLOG BLOG BLOG BLOG BLOG */
img{
  width: 180px;
  height: 110px;
}
.flex{
  display: flex;
  gap: 1rem;
}
.num_line h3{
  color: white;
  width: 500px;
}
.num_line a{
  text-decoration: none;
  color: white;
}
.num_line p{
  color: white;
  width: 500px;
}
h3{
  font-size: 11;
}
h3:hover{
  color: blue;
}
.hero{
  position: absolute;
  top: 0rem;
  left: 2rem;
  ;
}
/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */
