@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root,
  /* + THEME */
  :root.dark {
  --BodyBg: rgb(37, 37, 37);
  --Bg: rgb(30, 30, 30);
  --NavBg: rgb(45, 45, 45);
  --Links: rgb(116, 182, 168);
  --LinksHover: rgb(78, 148, 206);
  --Separator: rgb(106, 153, 85);
  --Text: rgb(187, 187, 187);
  --Headings: rgb(181, 181, 181);
  --Numbers: rgb(124, 124, 124);
  --activeText: rgba(255, 255, 255, 0.945);
}

/* LIGHT+ THEME */
:root.light {
  --BodyBg: rgb(243, 243, 243);
  --Bg: rgb(255, 255, 255);
  --NavBg: rgb(236, 236, 236);
  --Links: rgb(78, 126, 139);
  --LinksHover: rgb(38, 101, 210);
  --Separator: rgb(43, 97, 43);
  --Text: black;
  --Headings: rgb(0, 0, 0);
  --Numbers: rgb(92, 138, 154);
  --activeText: rgba(0, 0, 0, 0.849);
}

/* MONOKAI THEME */
:root.monokai {
  --BodyBg: rgb(30, 30, 28);
  --Bg: rgb(39, 40, 34);
  --NavBg: rgb(52, 53, 47);
  --Links: rgb(173, 205, 108);
  --LinksHover: var(--LinksHover);
  --Separator: (134, 132, 120);
  --Text: rgb(242, 243, 237);
  --Headings: rgb(247, 248, 242);
  --Numbers: rgb(143, 144, 138);
  --activeText: rgba(255, 255, 255, 0.945);
}

/* GITHUB  */
:root.g-dark {
  --BodyBg: rgb(27, 30, 35);
  --Bg: rgb(36, 41, 46);
  --NavBg: rgb(31, 36, 40);
  --Links: rgb(176, 201, 221);
  --LinksHover: var(--LinksHover);
  --Separator: rgb(108, 114, 122);
  --Text: rgb(225, 228, 233);
  --Headings: rgb(225, 228, 233);
  --Numbers: rgb(121, 131, 141);
  --activeText: rgba(255, 255, 255, 0.945);
}

/* GITHUB LIGHT */
:root.g-light {
  --BodyBg: rgb(247, 248, 250);
  --Bg: rgb(255, 255, 255);
  --NavBg: rgb(239, 242, 247);
  --Links: rgb(63, 88, 117);
  --LinksHover: var(--LinksHover);
  --Separator: rgb(109, 114, 119);
  --Text: rgb(64, 65, 68);
  --Headings: rgb(37, 41, 45);
  --Numbers: rgb(187, 187, 187);
  --activeText: rgba(0, 0, 0, 0.849);
}

/* SOLARIZED LIGHT */
:root.solarized {
  --BodyBg: rgb(239, 232, 213);
  --Bg: rgb(253, 246, 227);
  --NavBg: rgb(228, 221, 202);
  --Links: rgb(70, 131, 169);
  --LinksHover: var(--LinksHover);
  --Separator: rgb(109, 114, 119);
  --Text: rgb(61, 57, 45);
  --Headings: rgb(77, 75, 68);
  --Numbers: rgb(112, 141, 140);
  --activeText: rgba(0, 0, 0, 0.849);
}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--BodyBg);
  color: var(--Text);
}
a,
.theme_arrow {
  color: var(--Links);
  cursor: pointer;
}
a:hover {
  color: var(--LinksHover);
}
p {
  line-height: 1.5rem;
}
.wrapper {
  width: min(100%, 800px);
  margin: 0 auto;
}
nav {
  margin-top: 4.5rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}
nav::-webkit-scrollbar {
  display: none;
}
ul {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 1px;
  min-width: fit-content;
}
nav li {
  background-color: var(--NavBg);
  padding: 0.6rem 4rem 0.4rem 0.7rem;
  min-width: max-content;
  text-align: left;
  cursor: pointer;
  font-size: small;
}
nav a,
nav a:hover {
  color: var(--Numbers);
  text-decoration: none;
}
nav ul .home {
  pointer-events: none;
}

.active_tab {
  background-color: var(--Bg);
  color: var(--activeText);
}

.num-hidden {
  display: none;
}

.main {
  padding-block: 1.5rem;
  /* height: 250vh; */
  width: 100%;
  height: fit-content;
  background-color: var(--Bg);
  padding-inline: 5rem;
  position: relative;
}
.main .num_line {
  position: absolute;
  left: 1.5rem;
  font-size: 17px;
  text-align: right;
}

.main .num_line a {
  color: var(--Numbers);
  text-decoration: none;
  cursor: pointer;
}

.main .num_line a:hover {
  color: var(--Text);
}

.separator {
  display: flex;
  gap: 1rem;
  position: relative;
  margin-bottom: 1.4rem;
  margin-top: 2rem;
}

.separator span {
  gap: 10px;
  color: var(--Separator);
}
.separator hr {
  border: none;
  font-size: large;
  width: 95%;
  border-bottom: 1.9px dashed var(--Separator);
  position: absolute;
  right: 0;
  top: 50%;
}

/* FOOTER */
.foot {
  display: flex;
  margin-top: 1.6rem;
  justify-content: space-between;
  margin-bottom: 90vh;
}
.foot_links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  cursor: pointer;
}
.foot_links li,
.link {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--Links);
}
.foot_theme {
  position: relative;
}
.foot_theme select {
  color: var(--Text);
  font-weight: 600;
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(200, 200, 200);
  background-color: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.foot_theme:hover select,
.foot_theme:hover .theme_arrow,
.foot_theme select:hover,
.foot_theme:hover {
  color: var(--LinksHover);
}
.foot_theme option {
  background-color: var(--Bg);
  /* text-overflow: ellipsis; */
  color: var(--Text);
}
.theme_arrow {
  font-weight: 600;
  position: absolute;
  right: -0.3rem;
  cursor: pointer;
}

/* HOME STYLING */

#first-content-container,
#second-content-container,
#third-content-container,
#fourth-content-container,
#fifth-content-container {
  display: flex;
  justify-content: space-between;
}

.first-content2 {
  padding-left: 25px;
  padding-right: 25px;
}

.first-content2 h2 {
  font-size: 20px;
}

.first-content2 .paragraph1,
.paragraph2 {
  font-size: 16px;
}

.first-content1 img {
  height: 158px;
}

.first-content2 .paragraph1 {
  margin-bottom: 1rem;
}

.first-content2 .paragraph1 a {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 600;
}

.latest {
  margin-bottom: 1.5rem;
}

.second-content1 a img,
.third-content1 a img,
.fourth-content1 a img {
  height: 100px;
  width: 180px;
}

.content-hide {
  display: none;
}

.second-content2,
.third-content2,
.fourth-content2 {
  width: 80%;
  padding-left: 15px;
}

.hidden1 {
  display: none;
}

.second-content2 a,
.third-content2 a,
.fourth-content2 a {
  font-size: 18px;
  text-decoration: none;
  color: var(--Text);
  font-weight: 600;
}

.second-content2 a:hover,
.third-content2 a:hover,
.fourth-content2 a:hover {
  color: var(--LinksHover);
}

.second-content2 .calculating-digits,
.third-content2 .calculating-digits {
  font-size: 16px;
}

.date-posted {
  margin-top: 1.5rem;
  font-size: 13px;
}

#second-content-container,
#third-content-container {
  margin-top: 1rem;
}

.date {
  font-size: 13px;
  margin-top: 0.2rem;
}

.fourth-date {
  margin-top: 1.5rem;
  font-size: 13px;
}

.read-more-section {
  margin-top: 1.3rem;
}

.read-more-section a {
  font-size: 16px;
  text-decoration: none;
  color: var(--Text);
  font-weight: 600;
}

.read-more-section a:hover {
  color: var(--LinksHover);
}

.read-more-section {
  margin-top: 1rem;
}

.read-more-section2 {
  margin-top: -1rem;
}

.read-more-section a,
.read-more-section2 a {
  font-size: 16px;
  text-decoration: none;
  color: var(--Text);
  font-weight: 600;
}

.read-more-section a:hover,
.read-more-section2 a:hover {
  color: var(--LinksHover);
}

.fa-sharp {
  font-size: 12px;
  color: #4ec9b0;
}

.fa-sharp:hover {
  color: var(--LinksHover);
}

.separator2 {
  display: flex;
  gap: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.separator2 span {
  gap: 10px;
  color: var(--Separator);
}
.separator2 hr {
  border: none;
  font-size: large;
  width: 95%;
  border-bottom: 1.9px dashed var(--Separator);
  position: absolute;
  right: 0;
  top: 50%;
}

.project-header {
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

#fifth-content-container {
  margin-bottom: 2rem;
}

.fifth-content2 {
  padding-left: 25px;
  padding-right: 15px;
}

.fifth-content2 h2 {
  font-size: 18px;
}

.underline-a {
  text-underline-offset: 5px;
  text-decoration: underline;
}

.no-underline-a {
  text-decoration: none;
  color: var(--Text);
}

.fifth-content1 img {
  height: 85px;
}

.fifth-content2 p {
  font-size: 16px;
}

.fifth-content2 a:hover {
  color: var(--LinksHover);
}

.fifth-content2 p {
  font-size: 16px;
}

.separator3 {
  display: flex;
  gap: 1rem;
  position: relative;
  margin-top: 1.7rem;
}

.separator3 span {
  gap: 10px;
  color: var(--Separator);
}
.separator3 hr {
  border: none;
  font-size: large;
  width: 95%;
  border-bottom: 1.9px dashed var(--Separator);
  position: absolute;
  right: 0;
  top: 50%;
}

/* BLOG BLOG BLOG BLOG BLOG BLOG */

header {
  display: flex;
  justify-content: space-between;
}

.header-text h4 {
  font-size: 18px;
  font-weight: 500;
}

.imaged img {
  width: 64px;
  height: 360px;
}

/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */

@media (min-width: 350px) and (max-width: 599px) {
  #first-content-container {
    flex-direction: column;
  }

  nav li {
    padding-right: 3rem;
  }
  .main {
    padding-inline: 3rem 1rem;
  }
  .main .num_line {
    left: 0.8rem;
  }

  nav {
    margin-top: 0rem;
  }

  .first-content1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .content-hide {
    display: block;
  }

  .content-hide h2 {
    font-size: 18px;
  }

  .content-hide p {
    font-size: 14px;
  }

  #content-hide2 {
    display: none;
  }

  #first-content-container .first-content1 img {
    height: 60px;
  }

  .paragraph2 {
    margin-top: 1.5rem;
  }

  .first-content2 {
    padding-left: 0px;
    padding-right: 10px;
  }

  .first-content2 .paragraph2 {
    font-size: 15.5px;
  }

  #second-content-container,
  #third-content-container,
  #fourth-content-container,
  #fifth-content-container {
    display: flex;
    flex-direction: column;
  }

  .second-content1 a img,
  .third-content1 a img,
  .fourth-content1 a img {
    height: 180px;
    width: 300px;
  }

  .second-content2,
  .third-content2,
  .fourth-content2 {
    width: 100%;
    padding-left: 0px;
  }

  .date-posted {
    margin-top: 0rem;
    font-size: 13px;
  }

  .second-content2 .calculating-digits,
  .third-content2 .calculating-digits,
  .fourth-paragraph1 {
    font-size: 14px;
  }

  .second-content2 a,
  .third-content2 a,
  .fourth-content2 a {
    font-size: 16px;
  }

  .header3 {
    font-size: 14px;
  }

  .project-header {
    font-size: 16px;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
  }

  .date {
    margin-top: 0rem;
  }

  .fourth-date {
    margin-top: 0rem;
  }

  .foot {
    gap: 1.5rem;
  }
  .foot,
  .foot_links {
    flex-direction: column;
  }
  .foot_theme {
    width: fit-content;
  }
  .foot_links span {
    display: none;
  }
  .hidden1 {
    display: block;
  }

  .hidden1 h2 {
    font-size: 17px;
  }
  .fifth-content1 {
    display: flex;
    gap: 1rem;
  }

  .fifth-content1 img {
    height: 45px;
  }

  #hidden2 {
    display: none;
  }
  .fifth-content2 {
    padding-left: 0px;
    padding-right: 25px;
  }

  .fifth-content2 p {
    font-size: 15.5px;
    margin-top: 1rem;
  }

  .read-more-section a,
  .read-more-section2 a {
    font-size: 15px;
  }

  .num-hidden {
    display: block;
  }

  .main {
    height: 360vh;
  }

  #second-content-container,
  #third-content-container {
    margin-top: 2rem;
  }

  .separator {
    margin-top: 1.7rem;
  }

  .latest {
    margin-bottom: 2rem;
  }

  .fourth-content2 {
    margin-top: 1.8rem;
  }

  .second-content2,
  .third-content2 {
    margin-top: 1.6rem;
  }

  .read-more-section {
    margin-top: 1.8rem;
  }

  .separator2 {
    margin-bottom: 1.7rem;
    margin-top: 1.6rem;
  }

  .read-more-section2 {
    padding-top: 0.5rem;
  }

  .foot {
    margin-top: 1.8rem;
    font-size: 14px;
    line-height: 1.1rem;
  }
}
