:root {
  --gitDarkBodyBg: rgb(27, 30, 35);
  --gitDarkBg: rgb(36, 41, 45);
  --gitDarkLinks: rgb(176, 201, 221);
  --gitDarkLinksHover: var(--darkLinksHover);
  --gitDarkSeparator: rgb(108, 114, 122);
  --gitDarkText: rgb(225, 228, 233);
  --gitDarkHeadings: rgb(225, 228, 233);
  --gitDarkNumbers: rgb(121, 131, 141);
  }

body {
    background-color: var(--gitDarkBodyBg);
    color: var(--gitDarkText);
  }

  a {
    color: var(--gitDarkLinks);
  }
  a:hover {
    color: var(--gitDarkLinksHover);
  }

  nav ul .home {
    background-color: var(--gitDarkBg);
  }

  .main {
    background-color: var(--gitDarkBg);
    
  }
  
  .main .num_line a {
    color: var(--gitDarkNumbers);
  }
  
  .main .num_line a:hover {
    color: var(--gitDarkText);
  }
  
  .separator span {
    color: var(--gitDarkSeparator);
  }

  .separator hr {
    border-bottom: 1.9px dashed var(--gitDarkSeparator);
  }
  
  
  .foot_links li,
  .link {
    color: var(--gitDarkLinks);
  }
  .foot_theme select {
    color: var(--gitDarkText);
    background-color: inherit;
  }
  .foot_theme select:hover {
    color: var(--gitDarkLinksHover);
  }
  .foot_theme option {
    background-color: inherit;
  }
  
  .second-content2 a,
  .third-content2 a,
  .fourth-content2 a {
    color: var(--gitDarkText);
  }
  
  .second-content2 a:hover,
  .third-content2 a:hover,
  .fourth-content2 a:hover {
    color: var(--gitDarkLinksHover);
  }
  .read-more-section a {
    color: var(--gitDarkText);
      }
  
  .read-more-section a:hover {
    color: var(--gitDarkLinksHover);
  }
  
  
  .read-more-section a,
  .read-more-section2 a {

    color: var(--gitDarkText);
  }
  
  .read-more-section a:hover,
  .read-more-section2 a:hover {
    color: var(--gitDarkLinksHover);
  }
  
  .fa-sharp:hover {
    color: var(--gitDarkLinksHover);
  }
  
  .separator2 span {
    color: var(--gitDarkSeparator);
  }
  .separator2 hr {
    border-bottom: 1.9px dashed var(--gitDarkSeparator);
  }
  
  .no-underline-a {
    color: var(--gitDarkText);
  }
  
  .fifth-content2 a:hover {
    color: var(--gitDarkLinksHover);
  }
  
  .separator3 span {
    color: var(--gitDarkSeparator);
  }
  .separator3 hr {
    border-bottom: 1.9px dashed var(--gitDarkSeparator);
  }

  .dont_build {
    background-color: var(--gitDarkBg);
  }
  
  /* BLOG BLOG BLOG BLOG BLOG BLOG */
  
  /* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */
  
  