:root {
    --gitLightBodyBg: rgb(247, 248, 250);
    --gitLightBg: rgb(255, 255, 255);
    --gitLightLinks: rgb(63, 88, 117);
    --gitLightLinksHover: var(--lightLinksHover);
    --gitLightSeparator: rgb(109, 114, 119);
    --gitLightText: rgb(64, 65, 68);
    --gitLightHeadings: rgb(37, 41, 45);
    --gitLightNumbers: rgb(187, 187, 187);
    }

    body {
        background-color: var(--gitLightBodyBg);
        color: var(--gitLightText);
      }
    
      a {
        color: var(--gitLightLinks);
      }
      a:hover {
        color: var(--gitLightLinksHover);
      }
    
      nav ul .home {
        background-color: var(--gitLightBg);
      }
    
      .main {
        background-color: var(--gitLightBg);
        
      }
      
      .main .num_line a {
        color: var(--gitLightNumbers);
      }
      
      .main .num_line a:hover {
        color: var(--gitLightText);
      }
      
      .separator span {
        color: var(--gitLightSeparator);
      }
    
      .separator hr {
        border-bottom: 1.9px dashed var(--gitLightSeparator);
      }
      
      
      .foot_links li,
      .link {
        color: var(--gitLightLinks);
      }
      .foot_theme select {
        color: var(--gitLightText);
        background-color: inherit;
      }
      .foot_theme select:hover {
        color: var(--gitLightLinksHover);
      }
      .foot_theme option {
        background-color: inherit;
      }
      
      .second-content2 a,
      .third-content2 a,
      .fourth-content2 a {
        color: var(--gitLightText);
      }
      
      .second-content2 a:hover,
      .third-content2 a:hover,
      .fourth-content2 a:hover {
        color: var(--gitLightLinksHover);
      }
      .read-more-section a {
        color: var(--gitLightText);
          }
      
      .read-more-section a:hover {
        color: var(--gitLightLinksHover);
      }
      
      
      .read-more-section a,
      .read-more-section2 a {
    
        color: var(--gitLightText);
      }
      
      .read-more-section a:hover,
      .read-more-section2 a:hover {
        color: var(--gitLightLinksHover);
      }
      
      .fa-sharp:hover {
        color: var(--gitLightLinksHover);
      }
      
      .separator2 span {
        color: var(--gitLightSeparator);
      }
      .separator2 hr {
        border-bottom: 1.9px dashed var(--gitLightSeparator);
      }
      
      .no-underline-a {
        color: var(--gitLightText);
      }
      
      .fifth-content2 a:hover {
        color: var(--gitLightLinksHover);
      }
      
      .separator3 span {
        color: var(--gitLightSeparator);
      }
      .separator3 hr {
        border-bottom: 1.9px dashed var(--gitLightSeparator);
      }

      .dont_build {
        background-color: var(--gitLightBg);
      }
      