:root {
    --monokaiBodyBg: rgb(30, 30, 28);
    --monokaiBg: rgb(39, 40, 34);
    --monokaiLinks: rgb(173, 205, 108);
    --monokaiLinksHover: var(--darkLinksHover);
    --monokaiSeparator: rgb(134, 132, 120);
    --monokaiText: rgb(242, 243, 237);
    --monokaiHeadings: rgb(247, 248, 242);
    --monokaiNumbers: rgb(143, 144, 138);
    }

    body {
        background-color: var(--monokaiBodyBg);
        color: var(--monokaiText);
      }
    
      a {
        color: var(--monokaiLinks);
      }
      a:hover {
        color: var(--monokaiLinksHover);
      }
    
      nav ul .home {
        background-color: var(--monokaiBg);
      }
    
      .main {
        background-color: var(--monokaiBg);
        
      }
      
      .main .num_line a {
        color: var(--monokaiNumbers);
      }
      
      .main .num_line a:hover {
        color: var(--monokaiText);
      }
      
      .separator span {
        color: var(--monokaiSeparator);
      }
    
      .separator hr {
        border-bottom: 1.9px dashed var(--monokaiSeparator);
      }
      
      
      .foot_links li,
      .link {
        color: var(--monokaiLinks);
      }
      .foot_theme select {
        color: var(--monokaiText);
        background-color: inherit;
      }
      .foot_theme select:hover {
        color: var(--monokaiLinksHover);
      }
      .foot_theme option {
        background-color: inherit;
      }
      
      .second-content2 a,
      .third-content2 a,
      .fourth-content2 a {
        color: var(--monokaiText);
      }
      
      .second-content2 a:hover,
      .third-content2 a:hover,
      .fourth-content2 a:hover {
        color: var(--monokaiLinksHover);
      }
      .read-more-section a {
        color: var(--monokaiText);
          }
      
      .read-more-section a:hover {
        color: var(--monokaiLinksHover);
      }
      
      
      .read-more-section a,
      .read-more-section2 a {
    
        color: var(--monokaiText);
      }
      
      .read-more-section a:hover,
      .read-more-section2 a:hover {
        color: var(--monokaiLinksHover);
      }
      
      .fa-sharp:hover {
        color: var(--monokaiLinksHover);
      }
      
      .separator2 span {
        color: var(--monokaiSeparator);
      }
      .separator2 hr {
        border-bottom: 1.9px dashed var(--monokaiSeparator);
      }
      
      .no-underline-a {
        color: var(--monokaiText);
      }
      
      .fifth-content2 a:hover {
        color: var(--monokaiLinksHover);
      }
      
      .separator3 span {
        color: var(--monokaiSeparator);
      }
      .separator3 hr {
        border-bottom: 1.9px dashed var(--monokaiSeparator);
      }

      .dont_build {
        background-color: var(--lightBg);
      }
      